<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Lista Minchioni{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Joy.it</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('register') }}">Registrati</a></li>
            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li><a href="{{ url_for('confirm_delete_account') }}">Elimina Account</a></li>
        </ul>
    </nav>
    <section>
        {% block content %}{% endblock %}
    </section>
</body>
</html>
